<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>mo ban yu fa</h1>
    <div>{{ n1 }}</div>
    <div>{{ n2.0 }}</div>
    <div>{{ n2.1 }}</div>
    <div>{{ n2.2 }}</div>
    <div>
        {% for item in n2 %}
            <span>{{ item }}</span>
        {% endfor %}
    </div>
</body>
<hr/>
{{ n3 }}
{{ n3.name }}
{{ n3.age }}
{{ n3.company }}
<ul>
    {% for k, v in n3.items %}
    <li>{{ k }} : {{ v }}</li>
    {% endfor %}
</ul>
</html>